# Dependências
/node_modules
/.pnp
.pnp.js

# Build
/dist
/.cache
/out
.temp

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# Sistema
.DS_Store
Thumbs.db
